  nav {
      width: 100%;
      background: rgb(0, 0, 0);
  }

  .navbar {
      list-style: none;
      text-align: center;
  }

  .navbar li {
      display: inline;
  }

  .navbar a {
      display: inline-block;
      padding: 8px 20px;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Roboto Slab', serif;
  }

  .navbar a.active,
  .navbar a:hover {
      background: #444;
      color: #fff;
  }

  /* estilos para dispositivos moviles

  @media (max-width: 768px) {

      .navbar {
          display: none;
      }

      /* ocultamos la barra 

  .navbar-collapse {
      position: fixed;
      width: 100%;
      top: -100%;
      left: -100%;
      background: fixed;
  }
  }*/


  .logo {
      font-size: 1.6em;
      font-family: 'Roboto Slab', serif;
      line-height: 1.5;
      font-weight: 500;
      font-stretch: normal;
      font-variant: normal;

      color: rgb(0, 0, 0);
  }

  .contenedor-slider {
      display: flex;
      align-items: center;
      gap: 40px;
      max-width: 1200px;
      padding: 0px 40px;
  }

  .slider-izquierdo,
  .slider-derecho {
      width: 100%;
  }

  .slider-izquierdo img,
  .slider-derecho img {
      width: 100%;

  }

  .slider-screen {
      width: 90%;
  }

  .slider-screen img {
      width: 100%;
  }